<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>$(MSBuildThisFileDirectory)..\..\..\..\artifacts\publish\win-x64-aot\</PublishDir>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishAot>true</PublishAot>
    <StripSymbols>true</StripSymbols>
    <OptimizationPreference>Size</OptimizationPreference>
    <IlcUseEnvironmentalTools>true</IlcUseEnvironmentalTools>
  </PropertyGroup>
</Project>
